Repository jowczar/aqua-friends, pull requests merged in 2023-06, with the labels that each got.

#20 Add other fixes and changes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(authorized)/creator/AquaDecorPage.tsx
  frontend/src/app/(authorized)/creator/AquaSummaryPage.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/components/AquaDecorSummaryCard/index.tsx
  frontend/src/components/CreatorSteps/index.tsx
  frontend/src/components/DataTables/AquaViewActions.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/tailwind.config.js
Labels: frontend

#19 Fix/datatables tabs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(authorized)/creator/AquaDecorPage.tsx
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/AquaSummaryPage.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/components/AquaDecorSummaryCard/index.tsx
  frontend/src/components/CreatorSteps/index.tsx
  frontend/src/components/DataTables/AquaDecorDataTable/index.tsx
  frontend/src/components/DataTables/AquaLifeActions.tsx
  frontend/src/components/DataTables/AquaLifeDataTable/index.tsx
  frontend/src/components/DataTables/AquaViewActions.tsx
  frontend/src/components/DataTables/AquaViewDataTable/index.tsx
  frontend/src/components/DataTables/CardDataTable/CardDataTable.stories.tsx
  frontend/src/components/DataTables/CardDataTable/data-mock.ts
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/DataTables/LogsTable/index.tsx
  frontend/src/components/DataTables/data-mock.ts
  frontend/src/components/DataTables/helpers.ts
  frontend/src/components/DataTables/index.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Tabs/Tabs.stories.tsx
  frontend/src/components/Tabs/index.tsx
  frontend/tailwind.config.js
Labels: frontend

#13 Changes & fixes due to PR
  frontend/package-lock.json
  frontend/package.json
  frontend/public/default-fish.png
  frontend/src/app/(authorized)/creator/AquaDecorPage.tsx
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/AquaSummaryPage.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/components/AquaDecorSummaryCard/index.tsx
  frontend/src/components/CreatorSteps/index.tsx
  frontend/src/components/DataTables/AquaDecorDataTable/index.tsx
  frontend/src/components/DataTables/AquaLifeActions.tsx
  frontend/src/components/DataTables/AquaLifeDataTable/index.tsx
  frontend/src/components/DataTables/AquaViewActions.tsx
  frontend/src/components/DataTables/AquaViewDataTable/index.tsx
  frontend/src/components/DataTables/CardDataTable/CardDataTable.stories.tsx
  frontend/src/components/DataTables/CardDataTable/data-mock.ts
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/DataTables/LogsTable/index.tsx
  frontend/src/components/DataTables/data-mock.ts
  frontend/src/components/DataTables/helpers.ts
  frontend/src/components/DataTables/index.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Tabs/Tabs.stories.tsx
  frontend/src/components/Tabs/index.tsx
  frontend/src/context/FirebaseProvider.tsx
  frontend/src/enums/AquaCreatorStep.enum.ts
  frontend/tailwind.config.js
  package-lock.json
  package.json
Labels: frontend

#12 Fix/progress bar
  frontend/package-lock.json
  frontend/package.json
  frontend/public/default-fish.png
  frontend/public/left-arrow-aqua-creator.svg
  frontend/public/right-arrow-aqua-creator.svg
  frontend/src/app/(authorized)/creator/AquaDecorPage.tsx
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/AquaSizePage.tsx
  frontend/src/app/(authorized)/creator/AquaSummaryPage.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/components/AquaDecorSummaryCard/index.tsx
  frontend/src/components/CreatorSteps/index.tsx
  frontend/src/components/DataTables/AquaDecorDataTable/index.tsx
  frontend/src/components/DataTables/AquaLifeActions.tsx
  frontend/src/components/DataTables/AquaLifeDataTable/index.tsx
  frontend/src/components/DataTables/AquaViewActions.tsx
  frontend/src/components/DataTables/AquaViewDataTable/index.tsx
  frontend/src/components/DataTables/CardDataTable/CardDataTable.stories.tsx
  frontend/src/components/DataTables/CardDataTable/data-mock.ts
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/DataTables/LogsTable/index.tsx
  frontend/src/components/DataTables/data-mock.ts
  frontend/src/components/DataTables/helpers.ts
  frontend/src/components/DataTables/index.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/ProgressBar/ProgressBar.stories.tsx
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/components/Tabs/Tabs.stories.tsx
  frontend/src/components/Tabs/index.tsx
  frontend/src/context/FirebaseProvider.tsx
  frontend/src/enums/AquaCreatorStep.enum.ts
  frontend/tailwind.config.js
  package-lock.json
  package.json
Labels: frontend

#11 Fix/pagination
  frontend/package-lock.json
  frontend/package.json
  frontend/public/default-fish.png
  frontend/public/left-arrow-aqua-creator.svg
  frontend/public/left-arrow.svg
  frontend/public/right-arrow-aqua-creator.svg
  frontend/public/right-arrow.svg
  frontend/src/app/(authorized)/creator/AquaDecorPage.tsx
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/AquaSizePage.tsx
  frontend/src/app/(authorized)/creator/AquaSummaryPage.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/components/AquaDecorSummaryCard/index.tsx
  frontend/src/components/CreatorSteps/index.tsx
  frontend/src/components/DataTables/AquaDecorDataTable/index.tsx
  frontend/src/components/DataTables/AquaLifeActions.tsx
  frontend/src/components/DataTables/AquaLifeDataTable/index.tsx
  frontend/src/components/DataTables/AquaViewActions.tsx
  frontend/src/components/DataTables/AquaViewDataTable/index.tsx
  frontend/src/components/DataTables/CardDataTable/CardDataTable.stories.tsx
  frontend/src/components/DataTables/CardDataTable/data-mock.ts
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/DataTables/LogsTable/index.tsx
  frontend/src/components/DataTables/data-mock.ts
  frontend/src/components/DataTables/helpers.ts
  frontend/src/components/DataTables/index.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Pagination/Pagination.stories.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/ProgressBar/ProgressBar.stories.tsx
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/components/Tabs/Tabs.stories.tsx
  frontend/src/components/Tabs/index.tsx
  frontend/src/context/FirebaseProvider.tsx
  frontend/src/enums/AquaCreatorStep.enum.ts
  frontend/tailwind.config.js
  package-lock.json
  package.json
Labels: frontend

#8 Feature/aqua creator components
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/default-fish.png
  frontend/public/heart-red.svg
  frontend/public/left-arrow-aqua-creator.svg
  frontend/public/left-arrow.svg
  frontend/public/right-arrow-aqua-creator.svg
  frontend/public/right-arrow.svg
  frontend/src/app/(authorized)/creator/AquaDecorPage.tsx
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/AquaSizePage.tsx
  frontend/src/app/(authorized)/creator/AquaSummaryPage.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/components/AquaDecorSummaryCard/index.tsx
  frontend/src/components/CreatorSteps/index.tsx
  frontend/src/components/DataTables/AquaLifeActions.tsx
  frontend/src/components/DataTables/AquaViewActions.tsx
  frontend/src/components/DataTables/CardDataTable/CardDataTable.stories.tsx
  frontend/src/components/DataTables/CardDataTable/data-mock.ts
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/DataTables/data-mock.ts
  frontend/src/components/DataTables/helpers.ts
  frontend/src/components/DataTables/index.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Pagination/Pagination.stories.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/ProgressBar/ProgressBar.stories.tsx
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/components/Summary/index.tsx
  frontend/src/components/Tabs/Tabs.stories.tsx
  frontend/src/components/Tabs/index.tsx
  frontend/src/context/FirebaseProvider.tsx
  frontend/src/enums/AquaCreatorStep.enum.ts
  frontend/src/enums/Environment.enum.ts
  frontend/src/enums/HealthStatus.enum.ts
  frontend/src/enums/Tab.enum.ts
  frontend/src/enums/Unit.enum.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  package-lock.json
  package.json
Labels: enhancement, frontend

#10 Install missing dependencies in root
  package.json
Labels: bug

#14 Add pre-commit git hooks
  .husky/pre-commit
  README.md
  frontend/src/components/Navbar/Navbar.component.tsx
  package-lock.json
  package.json
Labels: enhancement

#16 Add admin form components – form submit with loader
  frontend/src/components/Form/FormField/FormInputSubmit/FormInputSubmit.stories.tsx
  frontend/src/components/Form/FormField/FormInputSubmit/FormInputSubmit.tsx
  frontend/src/components/Form/FormField/FormInputSubmit/index.tsx
  frontend/src/components/Form/FormField/index.tsx
Labels: enhancement, frontend

#17 Settings page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(authorized)/layout.tsx
  frontend/src/app/(authorized)/settings/form.tsx
  frontend/src/app/(authorized)/settings/page.tsx
  frontend/src/app/(authorized)/settings/schema.tsx
  frontend/src/common/firebase.ts
  frontend/src/common/types.ts
  frontend/src/components/Form/FormField/FormInputImage/FormInputImage.tsx
  frontend/src/components/Form/FormField/FormInputSubmit/FormInputSubmit.tsx
  frontend/src/components/Form/FormField/FormInputText/FormInputText.stories.tsx
  frontend/src/components/Form/FormField/FormInputText/FormInputText.tsx
  frontend/src/components/Navbar/index.tsx
  frontend/src/context/FileUploaderProvider.tsx
  package-lock.json
  package.json
Labels: enhancement, frontend

#18 Handle Firebase roles in custom claims
  frontend/src/app/(authorized)/page.tsx
  frontend/src/components/Search/index.tsx
  functions/.eslintrc.js
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/src/users.ts
  functions/src/utils/index.ts
  functions/src/utils/types.d.ts
  functions/tsconfig.json
  package-lock.json
  package.json
Labels: enhancement, frontend, backend

#23 Admin panel navbar & auth hook
  frontend/public/admin-logo.svg
  frontend/src/app/(authorized)/page.tsx
  frontend/src/components/Navbar/Navbar.component.tsx
  frontend/src/components/Navbar/index.tsx
  frontend/src/hooks/useUserWithRole.ts
Labels: enhancement, frontend

#25 Add datePicker to AquaHistory
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(authorized)/history/page.tsx
Labels: enhancement, frontend

#24 Remove aqua monitor page && add view/[id] page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/monitor/page.tsx
  frontend/src/app/(authorized)/view/[id]/page.tsx
  frontend/src/components/DataTables/AquaViewActions.tsx
  frontend/src/components/DataTables/helpers.ts
  frontend/src/components/Navbar/index.tsx
Labels: enhancement, frontend

#27 Feature/add registered user to firestore
  functions/.eslintrc.js
  functions/src/index.ts
  functions/src/users.ts
  functions/src/utils/index.ts
Labels: enhancement, backend

#26 Feature/aqua history logic
  frontend/src/app/(authorized)/history/data.logic.ts
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/common/helpers.ts
  frontend/src/components/DataTables/index.tsx
  frontend/src/context/FirebaseProvider.tsx
  frontend/src/hooks/useFirestore.ts
  functions/.eslintrc.js
  functions/package-lock.json
  functions/src/index.ts
  functions/src/users.ts
  functions/src/utils/index.ts
Labels: enhancement, frontend

#29 Add backend autoformat
  package.json
Labels: enhancement, backend

#31 Add validation middleware
  functions/package-lock.json
  functions/package.json
  functions/src/middleware/validation.middleware.ts
  functions/src/users.ts
  functions/src/users.validation.ts
Labels: enhancement, backend

#32 Add authorization and authentication middleware
  frontend/src/app/(authorized)/(admin)/admins/form.tsx
  frontend/src/hooks/useUserWithRole.ts
  functions/.eslintrc.js
  functions/src/middleware/is-authenticated.middleware.ts
  functions/src/middleware/is-authorized.middleware.ts
  functions/src/users.ts
  functions/src/utils/index.ts
  functions/src/utils/types.d.ts
Labels: enhancement, backend
