Repository jowczar/aqua-friends, pull requests merged in 2023-07, with the labels that each got.

#30 Add some "minor" changes
  frontend/public/decors.svg
  frontend/public/fishes.svg
  frontend/public/friend-basic.svg
  frontend/public/friend-green.svg
  frontend/public/health-status.svg
  frontend/public/heater.svg
  frontend/public/light.svg
  frontend/public/plants.svg
  frontend/public/pump.svg
  frontend/public/size.svg
  frontend/public/terrain.svg
  frontend/public/title.svg
  frontend/src/app/(authorized)/view/aquariums/[id]/data.logic.ts
  frontend/src/app/(authorized)/view/aquariums/[id]/page.tsx
  frontend/src/app/(authorized)/view/data.logic.ts
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/app/(authorized)/view/users/[id]/data.logic.ts
  frontend/src/app/(authorized)/view/users/[id]/page.tsx
  frontend/src/components/AquaViewSwitch/index.tsx
  frontend/src/components/DataTables/AquaViewAquariumsActions.tsx
  frontend/src/components/DataTables/AquaViewUsersActions.tsx
  frontend/src/components/DataTables/index.tsx
  frontend/src/components/FilterDropdown/index.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/enums/AquariumFilterOptions.enum.ts
  frontend/src/enums/UserFilterOptions.enum.ts
  frontend/src/hooks/useLoggedUser.ts
Labels: enhancement, frontend

#33 Add RuleGrid component
  frontend/src/components/RuleGrid/RuleGrid.stories.tsx
  frontend/src/components/RuleGrid/index.tsx
Labels: enhancement, frontend

#34 Fix datatables
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/aquaLifePage.columns.tsx
  frontend/src/app/(authorized)/history/data.logic.ts
  frontend/src/app/(authorized)/history/history.columns.tsx
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/view/aquariums.columns.tsx
  frontend/src/app/(authorized)/view/aquariums/[id]/data.logic.ts
  frontend/src/app/(authorized)/view/aquariums/[id]/page.tsx
  frontend/src/app/(authorized)/view/data.logic.ts
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/app/(authorized)/view/users.columns.tsx
  frontend/src/app/(authorized)/view/users/[id]/aquariums.columns.tsx
  frontend/src/app/(authorized)/view/users/[id]/data.logic.ts
  frontend/src/app/(authorized)/view/users/[id]/page.tsx
  frontend/src/common/helpers.ts
  frontend/src/components/AquaViewSwitch/index.tsx
  frontend/src/components/DataTables/AquaViewAquariumsActions.tsx
  frontend/src/components/DataTables/AquaViewUsersActions.tsx
  frontend/src/components/DataTables/helpers.ts
  frontend/src/components/DataTables/index.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/hooks/useUserWithDetails.ts
  package-lock.json
  package.json
Labels: enhancement, frontend

#35 Chat feature
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(authorized)/chat/[[...userId]]/ActiveChannelSychronizer.tsx
  frontend/src/app/(authorized)/chat/[[...userId]]/CustomChannelPreview.tsx
  frontend/src/app/(authorized)/chat/[[...userId]]/chat.styles.css
  frontend/src/app/(authorized)/chat/[[...userId]]/page.tsx
  frontend/src/app/(authorized)/chat/[[...userId]]/useChat.ts
  frontend/src/app/(authorized)/chat/[[...userId]]/useConnectUser.tsx
  frontend/src/app/(authorized)/not-found.tsx
  frontend/src/app/(authorized)/settings/page.tsx
  frontend/src/app/(authorized)/view/aquariums/[id]/page.tsx
  frontend/src/app/(unauthorized)/login/page.tsx
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/Form/FormField/FormInputImage/FormInputImage.stories.tsx
  frontend/src/components/Form/FormField/FormInputImage/FormInputImage.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Navbar/Navbar.component.tsx
  frontend/src/hooks/useUserWithRole.ts
  functions/.env.example
  functions/.eslintrc.js
  functions/package-lock.json
  functions/package.json
  functions/src/chat.ts
  functions/src/index.ts
  functions/src/users.ts
  functions/src/utils/types.d.ts
  package-lock.json
  package.json
Labels: enhancement, frontend, backend

#37 Aqua creator life logic
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/aquaLife.logic.ts
  frontend/src/app/(authorized)/creator/aquaLifePage.columns.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/components/AquaLifeSummaryCard/index.tsx
  frontend/src/components/DataTables/AquaLifeCardDataTable/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/enums/Environment.enum.ts
  frontend/src/enums/FishRuleSet.enum.ts
Labels: enhancement, frontend

#38 Change and fix modals
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/components/DataTables/AquaLifeCardDataTable/index.tsx
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/Modal/index.tsx
Labels: enhancement, frontend

#39 Feature/aqua creator summary page
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/AquaSummaryPage.tsx
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/components/DataTables/AquaLifeCardDataTable/index.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
Labels: enhancement, frontend

#40 Add your aquarium filter
  frontend/src/app/(authorized)/view/data.logic.ts
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/enums/AquariumFilterOptions.enum.ts
Labels: frontend

#41 Add new logs
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/app/(authorized)/history/data.logic.ts
  frontend/src/app/(authorized)/history/page.tsx
  frontend/src/app/(authorized)/view/aquariums/[id]/page.tsx
  frontend/src/app/(authorized)/view/users/[id]/page.tsx
  frontend/src/components/DataTables/AquaViewAquariumsActions.tsx
  frontend/src/components/DataTables/AquaViewUsersActions.tsx
  frontend/src/hooks/useAddLog.ts
Labels: enhancement, frontend

#43 Fix aquaDecorPage
  frontend/src/app/(authorized)/creator/AquaDecorPage.tsx
  frontend/src/app/(authorized)/creator/AquaSizePage.tsx
  frontend/src/app/(authorized)/view/page.tsx
  frontend/src/components/DataTables/CardDataTable/index.tsx
  frontend/src/components/Switch/index.tsx
Labels: frontend

#44 Fix modals translations
  frontend/src/components/DataTables/AquaLifeCardDataTable/index.tsx
Labels: frontend

#45 Add fishes amount
  frontend/src/app/(authorized)/creator/AquaLifePage.tsx
  frontend/src/app/(authorized)/creator/aquaLife.logic.ts
  frontend/src/app/(authorized)/creator/page.tsx
  frontend/src/app/(authorized)/view/aquariums/[id]/data.logic.ts
  frontend/src/components/AquaLifeSummaryCard/index.tsx
  frontend/src/components/DataTables/AquaLifeCardDataTable/index.tsx
  frontend/src/components/ImagesSummaryCard/index.tsx
  frontend/src/components/Modal/index.tsx
Labels: frontend

#46 Feature/edit aquarium
  frontend/src/app/(authorized)/view/aquariums/[id]/edit/page.tsx
  frontend/src/app/(authorized)/view/aquariums/[id]/page.tsx
  frontend/src/components/AquaDecorSummaryCard/index.tsx
  frontend/src/components/AquaLifeSummaryCard/index.tsx
  frontend/src/components/DataTables/CardDataTable/index.tsx
Labels: enhancement, frontend
